.btn.btn-primary {
    background-color: #ec1db8;
    border-color: #eeb5d8;
    font-family: cursive;
}

.btn.btn.btn-primary:hover {
    background-color: #eeb5d8;
    border-color: #ec1db8;
}

.text-muted {
    text-align: justify;
}

.colcreate {
    padding: 0;
    margin-top: -7rem;
    margin-bottom:2rem;
    color: #b60773;
    align-items: center;
    
   

    .link-style__content {
        font-size: 1.3rem;
        background-color: #b60773;
        padding: 10px;
        margin-top: 5rem;
        color: #eeb5d8;
        font-weight: 400;
        text-align: center;
        font-family: cursive;
        font-style: italic;
        border-radius: 3rem;
    }
    

    
}
