.coluna-delete-one {
    padding: 0;
    margin-top: -2rem;
    margin-bottom:2rem;
    color: #b60773;
    align-items: center;
    text-align: center;
    font-family: cursive;
        font-style: italic;
    .card-text{
        color: #b60773;
        text-align: center;
    }

    .link-style__content {
        font-size: 1.3rem;
        background-color: #b60773;
        padding: 10px;
        
        color: #eeb5d8;
        font-weight: 400;
        text-align: center;
        font-family: cursive;
        font-style: italic;
        border-radius: 3rem;
    }
}